<h2>
  Accueil
</h2>
<br/>
<p>
  Ce site a pour but de te permettre de partager tes découvertes houblonnées aux autres étudiants de l'ENIB.<br/>
  Tu as voyagé ou tu t'es juste égaré dans un bar ou un supermarché et tu as trouvé une pépite ?<br/>
  Tu connais des bières excellentes mais méconnues depuis toujours mais tu es trop timide pour parler aux membres aigris du bar ?<br/>
  Tu veux donner ton avis sur des bière qui ont déjà été proposées par tes camarades ?<br/>
  Tu veux savoir ce que tu peux consommer à l'ENIBAR en ce moment ?<br/>
  <br/>Alors ce petit site est fait pour toi !
</p>
