<div class="col-xs-12">
  <h2>Les propositions de bières</h2>
  <p>Mis à jour : {{ lastUpdate | async | date: 'short' | uppercase }}</p>
  <hr style="width:500px;border:5px solid orange" class="w3-round">
  <br/>
  <ul class="list-group">
    <app-consulter-bieres-proposees *ngFor="let beer of suggestedBeer; let i = index"
                             [beerId]="beer.beer.id"
                             [beerName]="beer.beer.name"
                             [beerDegre]="beer.beer.alcohol"
                             [beerVote]="beer.nb_vote"
                             [index]="i"></app-consulter-bieres-proposees>
  </ul>
  <button class="btn btn-light w3-orange" *ngIf="!isAllLiked()" [disabled]="!isAuth" (click)="onLike()">Tout aimer</button>
  <button class="btn btn-light w3-grey" *ngIf="isAllLiked()" [disabled]="!isAuth" (click)="onUnlike()">Tout enlever des favoris</button>
  <button class="btn btn-light w3-orange" [disabled]="!isAuth" (click)="onFetch()">Charger</button>
</div>
